<!DOCTYPE html>
<html>
  <head>
    <title>Gardenly</title>

    <%= javascript_pack_tag 'application' %>
  </head>

  <body style="margin: 0; height: 100vh; overflow-y: scroll !important">
    <%= yield %>
  </body>
</html>
